<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmacosjava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmacosJava">
        <activity
            android:name=".PatientMedicinesPatientView"
            android:exported="false" />
        <activity
            android:name=".NewMedicineForPacient"
            android:exported="false" />
        <activity
            android:name=".NewPacient"
            android:exported="false" />
        <activity
            android:name=".PatientMedicinesDoctorView"
            android:exported="false" />
        <activity
            android:name=".DoctorPacientListActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.doctorActivity.healthInstitutionActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.doctorActivity.specialityRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.PasswordRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.PatientActivity.treatmentPlaceRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.PatientActivity.directionRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.PatientActivity.birthdateRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.PatientActivity.genreActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.nameRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".registerActivities.typerRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>